@font-face {
    font-family: 'Bebas'; 
    src: url('../fonts/Bebas.woff2') format('woff2'), 
         url('../fonts/Bebas.woff') format('woff'),
         url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;  
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), 
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;  
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), 
         url('../fonts/HelveticaNeue-Light.woff') format('woff'),
         url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;  
}

html {
    box-sizing: border-box;    
}

* , *::before, *::after{     
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', sans-serif; 
    font-weight: 400;
}

a {
    text-decoration: none;    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;    
}
/* header */
.header {
    height: 78px;
    padding: 15px 0;    
}

.header__inner {
	display: flex;
	justify-content: space-between;
    align-items: center;         
}

.header__list {
    padding-top: 2px;
}

.menu__item,
.footer__list {
    display: inline-block;      
}

.menu__item + .menu__item {
    margin-left:25px;    
}

.menu__link{
    color: #b9b9b9 ;
    transition: 2s;
}

.menu__link--active,
.menu__link:hover {
    color: #e8663c;
}

.header__menu-btn {
    width: 30px;    
    display: none;
}

.header__menu-row {
    width: 100%;
    background-color: #e8663c;
    height: 4px;
    margin-bottom: 4px;
    z-index: 10;    
}

 /* slider */
.slider {
    overflow: hidden;
}

.slider__inner {
    position: relative;
    margin-bottom: 18px;    
}

.slider__inner::before,
.slider__inner::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: #f1ad9b;
}

.slider__inner::before,
.footer__inner::before {
    left: 10px;
    margin-left: 100%;
}

.slider__inner::after,
.footer__inner::after {
    right: 10px;
    margin-right: 100%;
}  

.slider__item {
    position: relative;
    min-height: 401px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.slider__info {
    position: absolute;
    left: 36px;
    bottom: 32px;
    z-index: 10;
    max-width: 413px; 
    padding: 21px 20px 12px;       
    color: #fff;
    background-color: rgb(232, 102, 60, 0.8);      
}

.slider__title {    
    font-size: 18px;                          
}

.slider__descr {
    font-size: 12px;    
    font-family: 'HelveticaNeue', sans-serif;
    padding-top: 8px;     
}

.preview__img {
    width: 140px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;       
}

.slick-btn {
    position: absolute;
    top: 42%;
    z-index: 25;
}

.slick-prev {
    left: 26px;
}

.slick-next {
    right: 38px;
}

.slick-prev::before,
.slick-next::before {    
    display: none;
} 

.preview .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
}

.preview__item + .preview__item {
    margin-left: 20px;
}
/* info items  */
.info__inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.info__box {
    max-width: 300px;    
}

.info__box + .info__box {
    margin-left: 20px;
}

.info__title {          
    font-size: 18px;
    color: #e8663c;
    line-height: 24px;  
    padding-left: 70px;
    margin-bottom: 35px;               
}

.info__title::before {
    content: '';
    position: absolute;       
}

.info__title--check {        
    background-image: url(../images/icons/icon-check.png );
    background-repeat: no-repeat;   
    height: 46px;   
}

.info__title--offer {
    background-image: url(../images/icons/icon-offer.png );
    background-repeat: no-repeat;
    height: 46px;
}

.info__title--follow {    
    background-image: url(../images/icons/icon-follow.png );
    background-repeat: no-repeat;
    height: 46px;
}

.info__text {      
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#414141;
    line-height: 18px;       
}

.info__btn {
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    color: #fff;
    padding: 9px 15px 9px 14px;
    background: #e8663c;
    transition: 1s;
}

.info__btn:hover,
.info__btn:focus {
	color: #e8663c;
	background: #fff;
	box-shadow: inset 0 0 0 2px #e8663c;
}
/* works */
.works__title {
    color: #e8603c;
    font-size: 18px;
    margin-top: 44px;
    margin-bottom: 24px;    
    background-image: url(../images/line.jpg);
}

.works__title-text {
    display: inline-block;
    padding-right: 20px;
    background-color: #fff;
}

.works__inner {
    display: flex;
    justify-content: space-between;               
}

.works__items-img {
    display: block;
    max-width: 220px;              
} 

.works__items {
    transition: 1s;
}

.works__items:hover {
    box-shadow:
        1px 1px #e8663c,
        2px 2px #e8663c,
        3px 3px #e8663c,
        4px 4px #e8663c,
        5px 5px #e8663c,
        6px 6px #e8663c,
        7px 7px #e8663c;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);      
}

.works__box {
    border: 1px solid #dbdbdb;
    border-top: none;   
    padding: 9px 13px;    
}

.works__subtitle {   
    display: block; 
    color: #b9b9b9;
    font-size: 16px;
    line-height: 18px;        
    padding-top: 3px;     
} 

.works__pubtime {          
    font-size: 11px;
    color: #e8663c;    
    line-height: 18px;
} 
/* footer */
.footer {
    margin-top: 47px;    
    overflow: hidden;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #e8663c;
    color: #fff;
    padding: 40px 35px 30px;      
    font-family: 'HelvecaNeue', sans-serif; 
    font-size: 12px;
    line-height: 15px;        
}

.footer__inner::before,
.footer__inner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #f1ad9b;
}

.footer__box {
    display: block;
    max-width: 261px;      
}

.footer__box + .footer__box {
    margin-left: 61px;
}

.footer__title {    
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    color: #fff;   
    padding-bottom: 16px; 
}

.footer__text {
    margin-bottom: 5px;
}

.footer__widget {
    font-family: 'HelveticaNeue-Light', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.footer__widget, .footer__pubdate {
    color: #f3b29d;
}

.footer__pubdate {
    padding-top: 1px;
}

.footer__contacts {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    font-style: normal;    
}

.footer__contacts,
.footer__socials  {
    padding-top: 5px;
}

.footer__contacts-item {      
    display: block;
    padding-top: 1px;  
    color: #fff;         
}

.footer__items {
    margin-top: 13px;
    padding: 0;
}

.footer__list + .footer__list {
    margin-left: 2px;
}
