@font-face {
    font-family: 'Bebas'; 
    src: url('../fonts/Bebas.woff2') format('woff2'), 
         url('../fonts/Bebas.woff') format('woff'),
         url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;  
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), 
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;  
}
html {
    box-sizing: border-box;    
}

* , *::before, *::after{     
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', sans-serif; 
    font-weight: 400;
}

a {
    text-decoration: none;    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;    
}
/* header */
.header {
    height: 78px;
    padding: 23px 0;    
}

.header__inner {
	display: flex;
	justify-content: space-between;
    align-items: center;         
}

.menu__item {
    display: inline-block;      
}

.menu__item + .menu__item {
    margin-left: 30px;    
}

.menu__link{
    color: #b9b9b9 ;
    transition: 2s;
}

.menu__link--active {
    color: #e8663c;
}

.menu__link:hover {
    color: #e8663c;    
}
/* slider */
.slider {
    overflow: hidden;
}

.slider__inner {
    position: relative;
    margin-bottom: 17px;    
}

.slider__inner::before,
.slider__inner::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: #f1ad9b;
}

.slider__inner::before {
    left: 10px;
    margin-left: 100%;
}

.slider__inner::after {
    right: 10px;
    margin-right: 100%;
}  

.slider__item {
    position: relative;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.slider__info {
    position: absolute;
    left: 36px;
    bottom: 32px;
    z-index: 10;
    max-width: 415px;      
    padding: 20px 25px 20px;
    color: #fff;
    background-color: rgb(232, 102, 60, 0.8);      
}

.slider__title {
    font-size: 18px;       
}

.slider__descr {
    font-size: 12px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400;
}

.preview__img {
    width: 140px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;       
}

.preview .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
}

.preview .slick-track .preview__item + .preview__item {
    margin-left: 20px;
}
/* info items  */
.info__inner {
    padding-top: 40px;
}

.info__inner-item {
    /* display: inline-block;
    position: relative; */
}

.info__item-title {
    font-size: 18px;
    color: #e8663c;
    line-height: 24px;  
    padding-left: 70px; 
    position: relative;
}

.info__item-text {      
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#414141;
    line-height: 18px;      
}
/* works */
.works__title {
    color: #e8603c;
    font-size: 18px;
    margin-bottom: 26px;
    background-image: url(../images/line.jpg);
}

.works__title span {
    display: inline-block;
    background-color: #fff;
    padding-right: 20px;
}
/* footer */
.footer {
    min-height: 263px;
    overflow: hidden;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #e8663c;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 30px; 
    font-size: 12px;
    font-family: 'HelvecaNeue', sans-serif;
    font-weight: 400;     
}

.footer__inner::before,
.footer__inner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #f1ad9b;
}

.footer__inner::before {
    left: 10px;
    margin-left: 100%;
}

.footer__inner::after {
    right: 10px;
    margin-right: 100%;
}  

.footer__items {
    max-width: 260px;
}

.footer__item-title {
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
}

.footer__twitter-widget, .pubdate-datetime {
    color: #f3b29d;
}

.footer__item-phone {
    display: block;
    padding-top: 3px;
    margin-bottom: 22px;
}

.footer__item-email, .footer__item-phone {
    color: #fff;
}

